<newspaper>
  <title>Tuổi trẻ</title>
  <date>2/6/2011</date>
  <numpages>2</numpages>
  <number>1</number>
  <pages>
    <page width="276" height="479" backgroundURL="tuoitre00.jpg">
      <object>
        <type>NewsPaperPictureCollection</type>
        <uri>01_image1.jpg</uri>
        <uri>01_image2.jpg</uri>
        <uri>01_image3.jpg</uri>
        <uri>01_image4.jpg</uri>
        <x>-98</x>
        <y>59</y>
        <width>166</width>
        <height>192</height>
        <marker>tuoitre01</marker>
      </object>
      <object>
        <type>NewsPaperPicture</type>
        <uri>02_image1.jpg</uri>
        <x>-87</x>
        <y>41</y>
        <width>115</width>
        <height>85</height>
        <marker>tuoitre02</marker>
      </object>
      <object>
        <type>NewsPaperAudio</type>
        <uri>01_3trieungheo.mp3</uri>
        <x>-153</x>
        <y>67</y>
        <width>33</width>
        <height>31</height>
        <marker>tuoitre01</marker>
      </object>
      <object>
        <type>NewsPaperAudio</type>
        <uri>02_tamtinhnguoichiensi.mp3</uri>
        <x>100</x>
        <y>15</y>
        <width>33</width>
        <height>31</height>
        <marker>tuoitre02</marker>
      </object>
      <marker>
        <name>tuoitre01</name>
        <x>63</x>
        <y>95</y>
        <width>199</width>
        <height>274</height>
      </marker>
      <marker>
        <name>tuoitre02</name>
        <x>4</x>
        <y>371</y>
        <width>167</width>
        <height>87</height>
      </marker>
      <marker>
        <name>tuoitre00</name>
        <x>61</x>
        <y>16</y>
        <width>199</width>
        <height>76</height>
      </marker>
    </page>
    <page width="276" height="479" backgroundURL="tuoitre01.jpg">
      <object>
        <type>NewsPaperVideo</type>
        <uri>10_super.mp4</uri>
        <x>-50</x>
        <y>52</y>
        <width>149</width>
        <height>77</height>
        <marker>Obj2</marker>
      </object>
      <marker>
        <name>Obj2</name>
        <x>12</x>
        <y>13</y>
        <width>198</width>
        <height>209</height>
      </marker>
    </page>
  </pages>
</newspaper>